@media  screen and  ( max-width:1000px)
{
    
 nav{
    
    
     display: flex; 
    flex-direction: column;
    
 }
 .logo{
  justify-content: center;
 }

  nav ul{
      justify-content: center;
  }
.slider
{
    height:30vh;
}

}