@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100&display=swap');
:root {
    --main-bg-color:#2874f0;
  }
*{
    padding: 0;
    margin:0;
}
footer{
    height:12vh;
  
    background-color: var(--main-bg-color);
    font-family: 'Lato', sans-serif;
  color:white;
}

header{
    background-color:  var(--main-bg-color);
  border:2px solid red;
 }
 .search{
    display: flex; 
   align-items:center;
   margin:0 112px;
}
.search .text{
    width:30vw;
    height:23px;
 border-radius:2px;   

}
.logo{
    display:flex;
    width: 160px;
    padding: 6px 16px;
}
 .logo img{
     width:88px;
     padding: 0 25px;
 }
 .container{
     min-height: calc(100vh - 28px -  12vh - 52px);
 }
 nav{
     display:flex;
 }
nav ul li{
    list-style: none;
   padding: 23px;
}
nav ul li a:hover{
font-weight: bolder;

}
nav ul li a{
 text-decoration: none;
 color:white;

}
nav ul{
    height: 28px;
  
    display:flex;
      justify-content: flex-start;
  align-items: center;
    }



.btn{
    width: 10vh;
    border-radius: 6px;
    padding: 2px;
  margin:12px;
}


.slider{
  display:flex;
  justify-content: center;
}



.card{
  
    max-width: 201vh;
        margin: auto;
 
}
.cards{
    display: flex;
    flex-direction:row;
    margin: 0 5px;
 overflow: hidden;
}

.my-2{
    margin:3vh 2vh;
}
.carditem{
 flex-direction:column;  
 width: 37vh;
text-align: center;
 margin: 2px 5px;
}
